<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link />
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this as a weather app</p>
        <img class="portrait" src="img/scott_sprite1-removebg-preview.png" alt="scott pilgrim">
        <form>
            <input placeholder="Location" type="input">
            <button>Send</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>